<app-rnav>
</app-rnav>
    <div class="split left">

      <a href="/request">
          <input type="image" src="assets/images/nreq.png"  class= "button" alt="donor" width="48" height="48">
      </a>
      <h1>Request</h1>

    </div>
    <div class="split right">
      <h1>Emergency Request</h1>
      <a href="/emr-req">
      <input type="image" src="assets/images/emgreq.png" class= "button" alt="receiver" width="48" height="48">
      </a>
    </div>








