<app-rnav></app-rnav>

<body>
  <div class="container cont " style="padding-top: 3%; padding-bottom: 3%; padding-left: 3%; padding-right: 3%;">
  <div class="container border border-warning " style="background: rgba(0, 0, 0, 0);" >
    <div class="row " style="margin-right: auto; margin-left: auto;">
      <div class="col-sm-6 logo fonts" align="right">
        BACK TO SCHOOL |
      </div>

      <div class="col-sm-6 logo1 fonts"  style="margin-top: 1%">
         Request Page
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 70px;">


        <div class="container ">
          <div class="row">
            <div class="col-sm-12">
        <table mdbTable bordered="true" align="center" style="width: 100%;  background: rgba(0, 0, 0, 0.1); color: rgba(0,0,0,0.7);">
            <thead>
              <tr class="tfont1 fonts3" >
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements"   class="tfont fonts2">
                <th scope="row">{{el.id}}</th>
                <td>{{el.first}}</td>
                <td>{{el.last}}</td>

              </tr>
            </tbody>
          </table>
        </div>


          <div class="col-sm-12 col-md-5" style="padding-top: 1%;">
            <button class="btn btn-primary"  type="submit"  (click)="openModal(template)" style="width: 100%; background-color: #ffbd33; border: 0px; margin-top: 1%;" >Add new item</button>
          </div>
          <div class="col-sm-3" style="padding-top: 1.5%;">
            <button class="btn btn-primary " type="submit" style="width: 100%; background-color:#ff7e00; border: 0px;">Submit</button>
          </div>
           <div class="col-sm-2 " style="padding-top: 1.5%;">
         <button class="btn btn-primary" type="submit" style=" background-color:  #99a3a4; border: 0px;">Save</button>
        </div>
        <div class="col-sm-2" style="padding-top: 1.5%;">
         <button class="btn btn-secondary " type="submit"  >Cancel</button>
        </div>

        </div>
        </div>





 </div>
</div>
  </body>




  <ng-template #template>
      <div style="background-color:#ffbd33;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title fonttext">
                      Add New Item To List
                  </h5>
                  <button class="close" (click)="modalRef.hide()">&times;</button>
              </div>
              <div class="modal-body">
                 <form class="form">
                     <div class="row">
                         <div class="col-sm-12">
                     <label>Enter Name Of The Item </label>
                     <input class="form-control" type="text" #itemname>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
              <label>Category Of The Item </label>
              <input class="form-control" type="text" #categoryi>
           </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
      <label>Quantity Required</label>
      <input class="form-control" type="number" #quantityreq>

      <table mdbTable bordered="true" align="center" style="width: 100%;  background: rgba(0, 0, 0, 0.1); color: rgba(0,0,0,0.7);">
        <thead>
          <tr class="tfont1 fonts3" >
            <th *ngFor="let head of headElements2" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements2"   class="tfont fonts2">
            <th scope="row">{{el.id}}</th>
            <td>{{el.first}}</td>
            <td>{{el.last}}</td>

          </tr>
        </tbody>
      </table>

   </div>
  </div>
                 </form>


              </div>
              <div class="modal-footer">
                  <button class="btn fonttext" (click)="onAdd()" style="background-color: #ff7e00; color: #ffffff;">Add</button>
                  <button class="btn btn-secondary fonttext" (click)="modalRef.hide()">Cancel</button>
              </div>

          </div>
      </div>
  </div>
  </ng-template>

