@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.bg2{
  background-image: linear-gradient(to right,#ffbc00,#ff7e00);
  height: 100%;
  padding-bottom: 20%;
  padding-top: 7%;
 }

.cont{
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 25px #000000;
}
.mar{
  padding: 25%;
}


 ::placeholder{
   color: #000000;
   font-size: 25px;
   opacity: 0.6;
 }



.tfont{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px ;

}

.tfont1{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px ;
}


.logo{
  font-family: 'Bebas Neue', cursive;
  font-size: 60px ;
  color: black;
}
.logo1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px ;
 color: black;
}




.vertical {
  border-left: 6px solid #ffbd33;
  height: 100px;
  position:absolute;
  left: 50%;
}



.pad{
    margin-top: 10%;
    margin-bottom: 10%;
}
.fonth{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px ;
}
    .fonth1{
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 30px;

      }

      @media(max-width:900px){
        .fonts{
         text-align: center;
         font-size: 40px;
        }
      }
      @media(max-width:900px){
        .fonts1{
         font-size: 15px;
         font-weight: lighter;
        }
      }
      .button1{
         background-color: #ff7e00;
         border: 0px;
      }
      @media (max-width:800px){
        button{
          width: 100%;
          margin: 0px ;
          margin-left: 0px;
          align-self: center;
        }
      }
      @media (max-width:800px){
        .marg{

          margin-top: 10px ;

        }
      }

      .refcol{
        background-color:#ff7e00;
        border: 0px;
      }

      @media(max-width:900px){
        .fonts2{
         font-size: 20px;

        }
      }
      @media(max-width:900px){
        .fonts3{
         font-size: 15px;
         font-weight: lighter;
        }
      }
      @media(max-width:900px){
        .fonts4{
         font-size: 25px;
         font-weight: lighter;
        }
      }

  button{
    border-radius: 0%;
  }

  textarea{
    border-radius: 1%;
  }
  @media(min-width:700px){
    .btnsp{
    display: none;
    }
  }
  @media(max-width:700px){
    .btnsp1{
    display: none;
    }
  }
  
  td, th {
    border-top-width: 1px;
    border-top-style: solid;
    font-family: 'Jost', sans-serif;
    font-size: 21px;
   
}
  table{
    width: 100%; 
    text-align: center; 
    background: rgba(0, 0, 0, 0.1); 
    color: rgba(0,0,0,0.7);
    
  }
  
  @media(min-width:700px){
    input::placeholder {
      color: transparent;
  }
  }
  
  input::placeholder{
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  @media(max-width:700px){
    label {
      display: none;
      
  }
  }
  @media(max-width:700px){
    input{
     margin: 2%;
      
  }
  }
  
  label{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    
  }
  p{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    
  }
   select{
    width: 30%;
    font-size: 15px;
    text-align: center;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
   }

   @media(max-width:700px){
    select{
     width: 50%;
   
  }
   }
  
   @media(min-width:700px){
   button{
     width: 15%;
   }
  }
  @media(max-width:700px){
    button{
     width: 40%;
    }
   }
   @media(max-width:700px){
    textarea{
     margin-top: 3%;
    }
   }
  
  
  
   .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .form-control:focus, .form-control:active  {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ff7e00;
   
  }

   