<app-rnav></app-rnav>
<div class="container main-secction">

  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 image-section">
         <img src="assets/images/time.png">

      </div>
      <div class="row user-left-part">
          <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
              <div class="row ">
                  <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                      <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                      <button id="btn-contact"  data-toggle="modal" data-target="#contact" class="btn btn-warning btn-block follow">Edit Information</button>
                      <button id="bn" class="btn btn-warning btn-block"  onclick="document.getElementById('id01').style.display='block'">Change Password</button>
                  </div>
                  <div class="row user-detail-row">
                      <div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
                          <div class="border"></div>
                          <p id="sub">SUCCESSFULL REQUESTS</p>
                          <span>320</span>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
              <div class="row profile-right-section-row">
                  <div class="col-md-12 profile-header">
                      <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left" id="mh">
                              <h1>{{name}}</h1>
                              <h4>{{inst_add}}</h4>
                              <h5>Requester</h5>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-8" id="sub">
                                  <ul class="nav nav-tabs" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i> <b>  BTS Info  </b></a>
                                          </li>
                                          <li class="nav-item">
                                            <a id="link" class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fa fa-address-card"></i><b>  About  </b></a>
                                          </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content" id="sub">
                                          <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                  <div class="row">
                                                          <div class="col-md-4">
                                                              <label><b>ID</b></label>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <p>BTS1245</p>
                                                          </div>
                                                      </div>

                                                      <div class="row">
                                                          <div class="col-md-4">
                                                              <label><b>Email</b></label>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <p>{{email_id}}</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-4">
                                                              <label><b>Telephone-no</b></label>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <p>{{phn_no}}</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-4">
                                                              <label><b>Designation</b></label>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <p>Principal</p>
                                                          </div>
                                                      </div>

                                                      <div class="row">
                                                        <div class="col-md-4">
                                                            <label><b>Syllabus</b></label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p>{{syl}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label><b>Institution ph.no</b></label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p>{{inst_phnno}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label><b>Total Requests</b></label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>230</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label><b>Institution Address</b></label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p>{{inst_add}}</p>
                                                        </div>
                                                    </div>
                                          </div>
                                          <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                  <div class="row" id="sub">
                                                          <div class="col-md-6">
                                                              <label><b>Sylabus</b></label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>State Board</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Institution ph.no</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>8886-5558-8555</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Total Requests</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>230</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Institution Address</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>addressss, hshjshsjh , hdfhfjf,huhhf</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>BTS-MODE</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>REQUESTER</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <label>Your school Bio</label>
                                                              <br/>
                                                              <p>detail description about school</p>
                                                          </div>
                                                      </div>
                                          </div>

                                        </div>

                          </div>
                          <div class="col-md-4 img-main-rightPart">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="row image-right-part">
                                          <div class="col-md-6 pull-left image-right-detail" id="mh">
                                              <h6>BTS-MODE</h6>
                                          </div>
                                      </div>
                                  </div>
                                  <a href="/rhme">
                                      <div class="col-md-12 image-right">
                                          <img src="assets/images/receiver.png">
                                      </div>
                                  </a>
                                  <div class="col-md-12 image-right-detail-section2">

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="contact">Contact Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <p for="msj">adsfsdfsdfsdfsdfsdfsfdsdfdsfsfs</p>
              </div>
              <div class="form-group">
                  <label for="txtFullname">dd</label>
                  <input type="text" id="txtFullname" class="form-control">
              </div>
              <div class="form-group">
                  <label for="txtEmail">Email</label>
                  <input type="text" id="txtEmail" class="form-control">
              </div>
              <div class="form-group">
                  <label for="txtPhone">Tele</label>
                  <input type="text" id="txtPhone" class="form-control">
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary"  data-dismiss="modal">Reset</button>
          </div>
      </div>
  </div>
</div>


 <!-- reset pass -->
 <div id="id01" class="modal">

  <form class="modal-content animate bttn" action="/action_page.php" method="post" style=" padding-bottom: 5%; padding-top: 5%;">

        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close" style="padding-top: 2%;">&times;</span>


      <div class="container ">
          <img src="assets/images/navlogo.png" alt="Avatar" class="imgs">
          <div class="row" align="center"  >
              <div class="col-sm-12">
        <input id="place" class="form-control inps" type="text" placeholder="User Name" required  >
      </div>

      <div class="col-sm-12">

        <input id="place" class="form-control inps" type="text" placeholder="Email"  required>
      </div>
      </div>

        <div class="row justify-content-center " style="padding-top: 2%;">
            <div class="col-sm-6 col-lg-3 col-xs-12  ">
        <button type="submit" id="submit" class="btn btn-primary pad">Reset Password</button>
    </div>
    <div class="col-sm-6 col-lg-3 col-xs-12 ">
        <button id="cancel1" class="btn btn-primary pad">Cancel</button>
    </div>

    </div>

      </div>
    </form>
</div>

<script>




// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

