<app-rnav></app-rnav>

<div id="grad">


<div class="container pad float">
   <div class="panel ">

      <div class="panel-body"  >



          <div class="row my_row "style="display: block; margin-right: auto; margin-left: auto;" >
          <div class="col-xs-12 col-xl-12 col-lg-12">
            <form [formGroup] = "addStrd" (ngSubmit) = "onSubmit()" >

                <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <label for="grade" class="font">Enter grade of students</label>
                <!-- <input type="text" id="standard" class="form-control" placeholder="Enter standard" > -->
            <select size="1" formControlName = "grade" type="text" id="grd" class="form-control"  name="grade"  required>
              <option>LKG</option>
              <option>UKG</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option></select>
              </div>
          </div>
               <div class="row">
              <div class="col-xs-12 col-lg-12">
                    <label for="mobno" class="font">Enter no. of students</label>
                    <input formControlName = "number"  type="number" id="number" class="form-control" placeholder="No.of Students" name="number" required>
                  </div>
              </div>

                                    <div class="row justify-content-center">
                                        <div class="col-xs-6 col-md-4">
                                           <button onclick="window.location.href = '/request'" class="btn  btn-block" type="submit" style=" margin-right: 2px; margin-top: 2px; " id="sub" style="background-color:#ff7e00; color: #ffffff;">Submit</button>
                                          </div>
                                          
                                           <div class=" col-xs-6 col-md-4">
                                           <button class="btn btn-secondary btn-block" type="submit" style="margin-top: 2px; background-color: #ffffff; color: #000;" >Cancel</button>
                                           </div>
                                       </div>

             </form>
          </div>
        </div></div>
     </div>


</div>
</div>

