<app-rnav></app-rnav>

<body>
    <div class="container cont3">
    <div class="container" style="padding-bottom: 10%;">
        <div class="container border border-warning " style="background: rgba(0, 0, 0, 0.1);" >
            <div class="row " style="margin-right: auto; margin-left: auto;">
              <div class="col-sm-6 logo fonts" align="right">
                BACK TO SCHOOL |
              </div>

              <div class="col-sm-6 logo1 fonts"  style="margin-top: 1%">
                 Status Page
              </div>
            </div>
          </div>
          <div class="container cont2">
          <div class="row">
              <div class="col-sm-6 col-xs-6">
                 Donor Name: ****
              </div>
              <div class="col-sm-6 col-xs-6">
                Donor id: ****
             </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-xs-6">
               Address: ****
            </div>
            <div class="col-sm-6 col-xs-6">
              Phone No.: ****
           </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6">
               Email: ****
            </div>
            <div class="col-sm-6 col-xs-6">
              Donor Name: ****
           </div>
        </div>
    </div>







        <div class="container" style="margin-top: 5%;">
        <div class="row sty1 " >
            <div class ="col-sm-12 fon1" >
                <p>Tracking - id</p>
            </div>
        </div>
    <div class="row sty2" style="padding-bottom: 3%; padding-top: 1%;">
        <div class="col-sm-6 fon2">
            Shippped Via
        </div>
        <div class="col-sm-6 fon3">
            --
        </div>
    </div>
    <div class="row sty2 " style="padding-bottom: 3%; padding-top: 1%;">
            <div class="col-sm-6 fon2">
                Status
            </div>
            <div class="col-sm-6 fon3">
                --
            </div>
    </div>
    <div class="row sty2" style="padding-bottom: 3%; padding-top: 1%;">
                <div class="col-sm-6 fon2">
                    Expected
                </div>




                <div class="col-sm-6 fon3">
                    --
                </div>

     </div>
     <div class="row sty3" style="padding-bottom: 10%; padding-top:10%;">
        <div class="col-12">
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #ffbc00;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-4 col-xs-12 ">
  <button class="btn btn-primary" style="width: 100%; border-radius: 0%;">Check old Requests </button>
</div>
    </div>
</div>
     <!-- <div class="container show" style="margin-top: 15%;">
        <div class="row sty1 " >
            <div class ="col-sm-12 fon1" >
                <p>Tracking - id</p>
            </div>
        </div>
    <div class="row sty2" style="padding-bottom: 3%; padding-top: 1%;">
        <div class="col-sm-6 fon2">
            Shippped Via
        </div>
        <div class="col-sm-6 fon3">
            --
        </div>
    </div>
    <div class="row sty2" style="padding-bottom: 3%; padding-top: 1%;">
            <div class="col-sm-6 fon2">
                Status
            </div>
            <div class="col-sm-4 fon3">
                --
            </div>
    </div>
    <div class="row sty2" style="padding-bottom: 3%; padding-top: 1%;">
                <div class="col-sm-4 fon2">
                    Expected
                </div>

                <div class="col-sm-4 fon3">
                    --
                </div>
    </div>
     </div> -->

    </div>

</body>
