<app-rnav></app-rnav>
<div class="container main-secction">

  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 image-section">
         <img src="assets/image/slider/fix.jpg">

      </div>
      <div class="row user-left-part">
          <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
              <div class="row ">
                  <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                      <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                      <button id="btn-contact"  data-toggle="modal" data-target="#contact" class="btn btn-warning btn-block follow">Christ Nagar Hr.Sec School</button>
                      <button class="btn btn-warning btn-block">Edit Information</button>
                  </div>
                  <div class="row user-detail-row">
                      <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                          <div class="border"></div>
                          <p>SUCCESSFULL REQUESTS</p>
                          <span>320</span>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
              <div class="row profile-right-section-row">
                  <div class="col-md-12 profile-header">
                      <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                              <h1>VIGNESH JS</h1>
                              <h5>Requester</h5>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                              <a href="/search" class="btn btn-warning btn-block">Request</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-8">
                                  <ul class="nav nav-tabs" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i> BTS Info</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i>About</a>
                                          </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                          <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                  <div class="row">
                                                          <div class="col-md-2">
                                                              <label>ID</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>BTS1245</p>
                                                          </div>
                                                      </div>

                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <label>Email</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>email@gmail.com</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <label>Telephone-no</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>12345678</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <label>Designation</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>Principal</p>
                                                          </div>
                                                      </div>

                                                      <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Sylabus</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>State Board</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Institution ph.no</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>8886-5558-8555</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Total Requests</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>230</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Institution Address</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>addressss, hshjshsjh , hdfhfjf,huhhf</p>
                                                        </div>
                                                    </div>
                                          </div>
                                          <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                  <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Sylabus</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>State Board</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Institution ph.no</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>8886-5558-8555</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Total Requests</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>230</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>Institution Address</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>addressss, hshjshsjh , hdfhfjf,huhhf</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <label>BTS-MODE</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p>REQUESTER</p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <label>Your school Bio</label>
                                                              <br/>
                                                              <p>detail description about school</p>
                                                          </div>
                                                      </div>
                                          </div>

                                        </div>

                          </div>
                          <div class="col-md-4 img-main-rightPart">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="row image-right-part">
                                          <div class="col-md-6 pull-left image-right-detail">
                                              <h6>BTS-MODE</h6>
                                          </div>
                                      </div>
                                  </div>
                                  <a href="/rhme">
                                      <div class="col-md-12 image-right">
                                          <img src="assets/images/receiver.png">
                                      </div>
                                  </a>
                                  <div class="col-md-12 image-right-detail-section2">

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="contact">Contact Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <p for="msj">adsfsdfsdfsdfsdfsdfsfdsdfdsfsfs</p>
              </div>
              <div class="form-group">
                  <label for="txtFullname">dd</label>
                  <input type="text" id="txtFullname" class="form-control">
              </div>
              <div class="form-group">
                  <label for="txtEmail">Email</label>
                  <input type="text" id="txtEmail" class="form-control">
              </div>
              <div class="form-group">
                  <label for="txtPhone">Tele</label>
                  <input type="text" id="txtPhone" class="form-control">
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary"  data-dismiss="modal">Reset</button>
          </div>
      </div>
  </div>
</div>
