body {
  background: linear-gradient(to right,#06a4c7, #022f3b);
  font-family: "PT Sans";
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  top:0px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {

  padding: 20px;
  background: #fff;
  min-height: 460px;
  border-bottom:1px solid #706e6e ;
}


.toplogo{
	position: relative;
	top:10px;
  left:40px;
}
.sidelog{
  width: 100px;
  height:100px;
}

#profileInformation{
  font-family: "PT Sans";
  position: relative;
  margin-top: 0px;
  padding:0px;
  background: #f1f1f1;
}
.profileInfo{
  font-family: "PT Sans";

  padding:5px 5px 5px 5px ;
  color:#000000;
  font-size: 12pt;
}

 .sectionTitle {

  border-bottom:0.5px solid #5a7391;
  text-align:left;
  padding: 5px 5px 5px 5px ;

  font-family: "PT Sans";
   color: #000000;
   font-size: 20pt;
}
.sectionWrapper{
  padding: 5px 0px 10px 0px ;
  background: #fff;
  min-height: 460px;
  margin-top:0px ;
}
.moreInformation{
margin-bottom: 50px;
}

#profileInformation .profileInfo dl dt {
  float: left;
  clear: left;
  padding: 7px 6px 0 11px;
  color: #030303;
  font-weight: 700;
  font-size: 11pt;
  position: relative;
  bottom: -1px;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#profileInformation .profileInfo dl dd {
  padding: 9px 10px 11px 10px;
  font-size: 11pt;
  color: #1a1313;
  word-wrap: break-word;
}

dt {
  display: block;
}
dd {
  display: block;
  margin-inline-start: 40px;
}
