
<head>

  <title>Abhishek's Profile</title>

</head>

<app-dnav>
</app-dnav>

  <div class="toplogo">
   <img src="assets/images/logo.png" class="sidelog" alt="logo">
  </div>
<hr>
  <div class="container">
    <div class="row profile">
	<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="profile-img">
				</div>
				<!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Abhishek
          </div>

					<div class="profile-usertitle-job">
						Donor
          </div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Inbox</button>
					<button type="button" class="btn btn-danger btn-sm">Donations</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->


			</div>
		</div>
		<div class="col-md-6">
            <div class="profile-content">
			   Some user related content goes here...
            </div>
    </div>
    <div class="col-md-3">
      <section id="profileInformation">
        <div class="sectionWrapper">
        <div class="sectionTitle"><strong>About</strong>
              </div>

        <div class="profileInfo">
        <dl class="moreInformation ">
                                                                                <dt>Gender:</dt>
                <dd>Male</dd>
                              <dt>Last Login:</dt>
              <dd>3 minutes ago</dd>
                        <dt>Account Status:</dt>
                <dd>Verified</dd>
                                <dt>Donations delivered:</dt>
                <dd>5</dd>
                          <dt>Profile Views:</dt>
              <dd>0</dd>
              <dt>Visited requets:</dt>
              <dd>7</dd>
              <dt>Joined:</dt>
              <dd>1 week ago</dd>
              </dl>
        </div>
       </div>
     </section>
    </div>
</div>

