
<app-dnav>
</app-dnav>
<div style="background-color:#ffbd33;">


  <div class="container mt-5 " style="background-color:#f3efec;">

          <div class="row" style="display: block; margin-right: auto; margin-left: auto;" align="center" >
              <div class="col-6 fonth fonts " align="center">
                  BACK TO SCHOOL
              </div>
              <div class="col-6 align-self-center fonth1 fonts1" align="center" >
                 Donate To Institution
             </div>
          </div>

  </div>
              <div class="container mt-5 " style="background-color:#f3efec">
              <div class="row " align="center" style="display: block; margin-right: auto; margin-left: auto;">

                  <div class="col-6 fonttext"><label for="loctn">Location:</label>
                     <select id="loctn" class="col-xs-6 col-xl-9 pad fonttext">
                         <option value="Trivandrum">Trivandrum</option>
                         <option value="Ernakulam">Ernakulam</option>
                       </select>
                  </div>

                 <div class="container mt-5 p-4 align-items-center" style="border: 1px solid #333333; " >
                     <div class="d-flex flex-column justify-content-center" >
                         <ol class="w3-ul w3-card-4">
                             <li><button type="button" class="btn " (click)="openModal(template)" style="width: 100%;"> <div class="p-5 bor hov fonttextsize"> Mohandas college</div></button></li>
                             <li><button class="btn" style="width: 100%;"> <div class="p-5 bor hov fonttextsize"> Mohandas college</div></button></li>
                             <li><button class="btn" style="width: 100%;"> <div class="p-5 bor hov fonttextsize"> Mohandas college</div></button></li>



                     </ol>
                     </div>

                 </div>

              </div>
             </div>
         </div>
 <ng-template #template>
     <div style="background-color:#ffbd33;">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title fonttext">
                     Request details
                 </h5>
                 <button class="close" (click)="modalRef.hide()">&times;</button>
             </div>
             <div class="modal-body">
                 <p class=" pb-2 fonttext">Institution name: Mohandas College of engineering and technology</p> <p class="fonttext pb-2">Phone No.: 0471-0000000</p>
                 <table>
                     <tr>
                       <th>Item</th>
                       <th>Required number</th>

                       <th>Select quantity</th>
                     </tr>
                     <tr>
                       <td>Pencil set</td>
                       <td>2</td>

                       <select class="form-control" id="sel1">
                         <option>0</option>
                         <option>1</option>
                         <option>2</option>

                       </select>
                     </tr>
                     <tr>
                       <td>Textbooks</td>
                       <td>4</td>

                       <td><select class="form-control" id="sel1">
                         <option>0</option>
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                       </select></td>
                     </tr>
                     <tr>
                       <td>Notebooks</td>
                       <td>2</td>

                       <td><select class="form-control" id="sel1">
                         <option>0</option>
                         <option>1</option>
                         <option>2</option>

                       </select></td>
                     </tr>
                     <tr>
                       <td>Exam Board</td>
                       <td>3</td>

                       <td><select class="form-control" id="sel1">
                         <option>0</option>
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>

                       </select></td>
                     </tr>
                     <tr>
                       <td>Bags</td>
                       <td>3</td>

                       <td><select class="form-control" id="sel1">
                         <option>0</option>
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>

                       </select></td>
                     </tr>
                     <tr>
                       <td>Pencil box</td>
                       <td>4</td>

                       <td><select class="form-control" id="sel1">
                         <option>0</option>
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                       </select></td>
                     </tr>
                   </table>


             </div>
             <div class="modal-footer">
                 <button class="btn fonttext" style="background-color: #ff7e00; color: #ffffff;">Donate</button>
                 <button class="btn btn-secondary fonttext" (click)="modalRef.hide()">Cancel</button>
             </div>

         </div>
     </div>
 </div>
 </ng-template>



