@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

.fonth{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px ;

}
#grad {

    background-color:#ec3807;
    background-image: linear-gradient(to right,#ffbc00,#ff7e00);
  }
  .fonth1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;

  }
  @media(min-width:900px){
    .pad{
      padding-left: 10px;
      margin-left: 10px;
    }
  }
  @media(max-width:900px){
    .fonts{
     font-size: 25px;
    }
  }
  @media(max-width:900px){
    .fonts1{
     font-size: 15px;
     font-weight: lighter;
    }
  }
  .bor{
    border: 1px solid #333333;

  }
  .alig{
    align-content: center;
  }
  .hov:hover{
    flex-grow: 4;
    max-width: 100%;
  }
  table {
    font-family: 'PT Sans Narrow', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .fonttext{
    font-family: 'PT Sans Narrow', sans-serif;
  }
  .fonttextsize{
    font-size: 20px;
  }
 html{
   height: 100%;
 }
