<app-rnav></app-rnav>

<div class="bg1">
  <div class="container cont " style="padding-top: 3%; padding-bottom: 3%; padding-left: 3%; padding-right: 3%;">
  <div class="container border border-warning " style="background: rgba(0, 0, 0, 0);" >
    <div class="row " style="margin-right: auto; margin-left: auto; text-align: center;">
      <div class="col-sm-6 logo fonts" align="right">
        BACK TO SCHOOL |
      </div>

      <div class="col-sm-6 logo1 fonts"  style="margin-top: 1%" align="left">
         Request Page
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 30px;">

   
        <div class="container ">
          <div class="row justify-content-end"  >
     
            <button class="btn btn-primary"  type="submit"   style=" background-color: #ffbd33; border: 0px; margin: 1%;"  (click)="onAdd()">Add extra items</button>
          
            <button class="btn btn-primary" type="submit" style=" background-color:  #99a3a4; border: 0px; margin: 1%;">Save</button>
            
        </div>
        
          <div class="row">
            
            <div class="col-sm-12">
        <table mdbTable bordered="true" align="center">
            <thead>
              <tr class="tfont1 fonts3" >
                <th *ngFor="let head of headElements" scope="col" >{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements"   class="tfont fonts2">
                <th scope="row"  >{{el.id}}</th>
                <td>{{el.first}}</td>
                <td><select size="1"  class="form-control" ><option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option></select></td>

              </tr>
            </tbody>
          </table>
        </div>


         
        

        </div>
        <div class="row justify-content-end ">
        
          <button class="btn btn-primary " type="submit" style=" background-color:#ff7e00; border: 0px;  margin: 1%;">Submit</button>
          
          <button class="btn btn-secondary " type="submit" style="background-color: #ffffff; color: #000000;  margin: 1%;">Cancel</button>
         </div>

        </div>

        <div class="container">
          <div class="row">
            <input type="checkbox" id="accept" class="form-check-input " style="margin-right: 30px; " ngModel name="checkbox" #check="ngModel">

            <span  for="accept" class="align-text-baseline" class="font1 font" >Emergency Request?</span>
              <div class="col">
            <textarea type="submit" class="form-control" class="font1"></textarea>
          </div>
          </div>
        </div>
        
        <div *ngIf="div1" class="container">
          <div>
            
          <h5 class=" fonttext">
              Add new item to list
          </h5>
          <button type="button" class="close" aria-label="Close"  (click)=onClose() style="width: 5%;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="row" style="margin: 25px;"></div>
         <form  (ngSubmit)="onSubmit()" #f="ngForm" >
             <div class="row">
                 <div class="col-sm-12">
             <label>Enter name of the item </label>
             <input id="itemname" class="form-control" type="text" placeholder="Enter name of the item" name="itemname" ngModel>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
      <label>Category of the item </label>
      <input id="category" class="form-control" type="text" placeholder="Category of the item" name="category" ngModel>
   </div>
</div>
<div class="row">
  <div class="col-sm-12">
<label>Quantity required</label>
<input id="quantity" class="form-control" type="number" placeholder="Quantity required"  name="quantity" ngModel>


</div>
</div>
<div class="row justify-content-end ">
        
  <button class="btn btn-primary " type="submit" style=" background-color:#ff7e00; border: 0px;  margin: 1%;">Add</button>
  
  <button class="btn btn-secondary " type="submit" style="background-color: #ffffff; color: #000000;  margin: 1%;">Cancel</button>
 </div>

         </form>
         <table mdbTable bordered="true" align="center" class="pad" >
          <thead>
            <tr class="tfont1 fonts3" >
              <th *ngFor="let head of headElements2" scope="col">{{head}}</th>
            </tr>
            </thead>
            
          <tbody>
            
            <tr mdbTableCol  class="tfont fonts2" *ngFor = "let ell1 of elements2">
              
              <th scope="row">{{ell1.itemname}}</th>
              <td>{{ell1.category}}</td>
              <td>{{ell1.quantity}}</td>
  
            </tr>
            
          </tbody>
        </table>
  <p align="center" *ngIf="!submitted"> No contents to show</p>
  
</div>
    
     




 </div>
</div>
</div>




 
        



