<app-header>
</app-header>

<div id="grad">
  <h1 align="center"  class="hh ff hide">Welcome, Requester let's get to know you.</h1>

<div class="container pad float">
   <div class="panel " style="padding-top: 5%;">

      <div class="panel-body"  >
           <img id="img-brnd" src="assets/images/navlogo.png" alt="brand-logo" class="imgs">
          <div class="row my_row "style="display: block; margin-right: auto; margin-left: auto;" >
          <div class="col-xs-12 col-xl-12 col-lg-12">
            <form  [formGroup]="addForm" (ngSubmit)="onSubmit()">

                <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <label for="email" class="font">Email address</label>
                <input formControlName = "email" type="email" id="email" class="form-control" placeholder="Email address"  name="email">
                <div *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">Please enter a valid email!</div>
                <div *ngIf="addForm.get('email').hasError('email') ">Please enter a valid email!</div>
              </div>
          </div>
               <div class="row">
              <div class="col-xs-12 col-lg-12">
                    <label for="mobno" class="font">Mobile number</label>
                    <input formControlName = "mobno" type="number" id="mobno" class="form-control" placeholder="Mobile Number" name="mobno" required>
                  </div>
              </div>
              <div class="row">
                <div class="col">

                      <label for="name" class="font">First name</label>
                      <input formControlName = "fname" type="text"  class="form-control"  placeholder="First Name"  name="fname"  required>
                      <!-- <span class="help-block" *ngIf="!fname.valid && fname.touched">Please enter Name!</span> -->
                </div>

                    <div class="col">
                          <label for="name" class="font">Last name</label>
                          <input formControlName = "lname" type="text" id="name" class="form-control " placeholder="Last Name"   name="lname" >

                        </div>
                    </div>
              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                        <label for="psw" class="font" >Password</label>
                        <input formControlName = "password" type="password" id="psw" class="form-control" placeholder="Password"  name="password" required maxlength="12">
                        
                        <app-password-strength [passwordToCheck]="addForm.value.password" (passwordStrength)="passwordValid($event)"></app-password-strength>


                        <!-- <span class="help-block" *ngIf="!passwordIsValid">Password must contain atleast 6 characters, at least one uppercase letter, at least one lowercase letter, at least one number, at least one special character </span> -->
                        <span class="help-block" *ngIf="addForm.get('password').hasError('required') && addForm.get('password').touched">Please enter password!</span>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-lg-12">
                            <label for="psw"class="font">Confirm password</label>
                            <input formControlName = "confirmpassword" type="password" id="cpsw" class="form-control" placeholder="Confirm Password"  name="confirmpassword"  required maxlength="12"> 
                            <!-- <span class="help-block" *ngIf="!confirmpassword.valid && confirmpassword.touched">Please confirm password!</span> -->
                            <span class="text-danger"
                            *ngIf="addFormControl.confirmpassword.errors?.passwordMismatch">
                            Passwords does not match !
                        </span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-lg-12">
                                <label for="psw"class="font">Syllabus</label>
                                <select size="1" formControlName = "syllabus" type="text" id="syl" class="form-control" placeholder="Enter syllabus"  name="syllabus"  required ><option>State</option>
                                  <option>CBSE</option>
                                  <option>ICSE</option>
                                
                                
                                </select>
                                <!-- <span class="help-block" *ngIf="!syllabus.valid && syllabus.touched">Please select syllabus!</span> -->
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12 col-lg-12">
                                    <label for="psw"class="font">Institution Name</label>
                                    <input formControlName = "instname" type="text" id="iname" class="form-control" placeholder="Enter Institution Name"  name="instname" required  >
                                  
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12 col-lg-12">
                                        <label for="psw"class="font">Institution phone No.</label>
                                        <input formControlName = "instphone" type="number" id="iphone" class="form-control" placeholder="Enter Institution phone no."  name="instphone"  required  >
                                        <!-- <span class="help-block" *ngIf="!instphone.valid && instphone.touched">Please enter institution phone number!</span> -->
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-12">
                                            <label for="psw"class="font">Institution Mail ID</label>
                                            <input formControlName = "instmail" type="text" id="imail" class="form-control" placeholder="Enter Institution Mail Id"  name="instmail"  required email  >
                                            <!-- <span class="help-block" *ngIf="!instmail.valid && instmail.touched">Please enter institution mail!</span> -->
                                          </div>
                                      </div>



                              <div class="row">
                                  <div class="col-xs-12 col-lg-12">

                                    <label for="addr" class="font">Institution address</label>
                                    <textarea formControlName = "instaddress" type="text" id="iaddr" class="form-control" placeholder="Enter institution address"  name="instaddress"  required  ></textarea>
                                    <!-- <span class="help-block" *ngIf="!instaddress.valid && instaddress.touched">Please enter institution address!</span> -->
                                  </div>
                              </div>




                                    <div class="padd">
                                    <input type="checkbox" id="accept" class="form-check-input " style="margin-right: 30px; " ngModel name="checkbox" required #check="ngModel"style="margin-left : 1.5%;">

                                    <span for="accept" class="align-text-baseline" class="font1 font" style="margin-left: 4%;">I am willing to share my transaction information on the website.</span>
                                    <ol>
                                    <!-- <label *ngIf ="!check.valid && check.touched">Please agree to conditions</label> -->
                                  </ol>
                                  </div>

                                    <div class="row justify-content-center">
                                        <div class="col-xs-6 col-md-4">
                                           <button class="btn  btn-block" type="submit" style=" margin-right: 2px; margin-top: 2px; " id="sub" style="background-color:#ff7e00; color: #ffffff;" [disabled]="!addForm.valid">Submit</button>
                                          </div>
                                           <div class=" col-xs-6 col-md-4">
                                           <button class="btn btn-secondary btn-block" type="submit" style="margin-top: 2px; background-color: #ffffff; color: #000;" >Cancel</button>
                                           </div>
                                       </div>

             </form>
             <div *ngIf = "showLoadingIndicator" class="spinner"></div>
          </div>
        </div></div>
     </div>


</div>
</div>

