@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lato&family=Open+Sans+Condensed:wght@300&display=swap');

@media (min-width:700px) {
  input::placeholder {
    color: transparent;
}
textarea::placeholder{
  color: transparent;
}
}
@media (max-width:700px){
  label{
    display: none;
  }

}
@media (min-width:700px) {
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
@media (max-width:700px){
input{
  margin-top: 10px;
  margin-bottom: 10px;
}
}

#grad {

      background-color:#ec3807;
      background-image: linear-gradient(to right,#ffbc00,#ff7e00);
    }
    .transparent{
      background-color: rgba(0,0,0,0.15);
  }

  .panel{
      background-color: white;
      border: 1px #222;
      border-radius: 20px;
  }
  button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
    transition: all 0.3s ease 0.1s;
    cursor: pointer;

    font-family: 'PT Sans Narrow', sans-serif;


  }
  button :hover{
    background-color:rgba( green, 0.5);

  }
   label{
    color: black;
  }
  .relative{
    margin: relative;
    width: 100px;
    height: 50px;
  }
  label{
    background-color: transparent;
  }
  form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

.pad{

  padding-bottom: 100px;
}
.my_row{
  align-content: center;
  height: auto;
  padding: 20PX;
}

/* .font{

  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  font-size: 25px;
} */
.imgg{
  background-color: #402000;
}
 
img{
  width: auto;
  height: auto;
}

.ff{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
 
  font-size: 3vw;
  padding: 10px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;


}
@media (max-width:500px){
.font1{

  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  font-size:4vw;
}
}
.padd{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.pa{
  border-spacing: 100px;
}
@media (max-width:800px){
  button{
    width: 100%;
    margin: 0px ;
    margin-left: 0px;
    align-self: center;
  }
}
@media (max-width:700px){
  .float{
    float: left;
  }
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
span{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;

}
input::placeholder{
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}

textarea::placeholder{
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.row{
  margin: 1%;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border:1px solid red;
}
span{
  font-size: 15px;
}
select{
  padding-top: -50px;
}
.imgs{
  width: 50%; 
  height:150px; 
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
  margin-bottom: 5%;
}


.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top:50%;
  left:50%;
  position: absolute;
}
@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}

