<app-header></app-header>
<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-7 mx-auto">
                        <h3 class="display-4">Welcome Back!</h3>
                        <p class="text-muted mb-4" id="sub">Log-in to continue BTS user</p>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3" >
                                <input formControlName = "email" id="email" type="email" placeholder="Email address" required autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4" name="email" formControlName="email" autocomplete="off">
                            </div>
                            <div class="form-group mb-3">
                                <input formControlName = "password" id="Password" type="password" placeholder="Password" required class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" name="Password" formControlName="password" autocomplete="off" >
                            </div>
                            <div class="custom-control custom-checkbox mb-3" >

                                <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                <label id="place" for="customCheck1" class="custom-control-label">Remember password</label>

                            </div>
                            <button id="btn" type="submit" class="btn btn-primary btn-block text-uppercase mb-2 shadow-sm" [disabled]="loginForm.invalid">Sign in</button>
                            <div *ngIf ="invalidLogin" class="danger">
                                <div class="danger">Incorrect username or password!</div>
                            </div>
                            <div class="text-center d-flex justify-content-between mt-4" ><p>
                              <a href="javascript:void(0)" id="place" class="text-muted" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                              Forgot password ?</a></p></div>
                        </form>
                        
                    </div>
                </div>
            </div><!-- End -->

        </div>
    </div><!-- End -->





      <div id="id01" class="modal">

        <form class="modal-content animate bttn" action="/action_page.php" method="post" style=" padding-bottom: 5%; padding-top: 5%;">
           
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close" style="padding-top: 2%;">&times;</span>
             

            <div class="container ">
                <img src="assets/images/navlogo.png" alt="Avatar" class="imgs">
                <div class="row" align="center"  >
                    <div class="col-sm-12">
              <input id="place" class="form-control inps" type="text" placeholder="User Name" required  >
            </div>
            
            <div class="col-sm-12">
             
              <input id="place" class="form-control inps" type="text" placeholder="Email"  required>
            </div>
            </div>

              <div class="row justify-content-center " style="padding-top: 2%;">
                  <div class="col-sm-6 col-lg-3 col-xs-12  ">
              <button type="submit" id="submit" class="btn btn-primary pad">Reset Password</button>
          </div>
          <div class="col-sm-6 col-lg-3 col-xs-12 ">
              <button id="cancel1" class="btn btn-primary pad">Cancel</button>
          </div>

          </div>

            </div>
          </form>
      </div>

      <script>




      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      </script>

