/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/flagged/photo-1574097656146-0b43b7660cb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center center;
}

.btn{
  background-color: #ffbc00;
  border: #ffbc00;
  border-radius: 0%;
}
.customCheck1{

  background-color: #ffbc00;

}

input[type=checkbox]:checked+ label:before{


  background-color: #ffbc00;
  border: #ffbc00;
  box-shadow: #ffbc00;
  outline-color:#ffbc00;
}

#vote_buttons {
  cursor:hand;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #ff7e00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ff7e00;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}




form {
  border: 0px solid rgb(0, 0, 0);
}
.m
{
  height:auto;
  max-width:100%;
  border:none;
  display:block;
  left: 0px;

}
#grad1 {
  height: 800px;
  background-image: linear-gradient(to right, #795548 , #607d8b); /* Standard syntax (must be last) */
}
.i{
  position: absolute;
  top: 0px;
  right: 0px;
    box-align:right;
    background-color:rgba(255, 255, 255, 0.664);
  justify-content: center;
  height: 100%;
  margin-top: 0px;
  max-width: 30%;
  width: 100%;
  }

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #ff7e00;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ff7e00;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}
#sub{
  font-family: 'Roboto', sans-serif;
}
#place{
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: middle;


}
/* Add padding to containers */
.container {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  padding: 16px;

}

.rem {
  font-size: 16px;

}
input.ch{
    width: 20px;
    height: 20px;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  font-size: 15px;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  font-family:'Lato', sans-serif;

}

span.psw {
  float: right;
  padding-top: 16px;
}
#submit{
  background-color:#ff7e00 ;

}
#cancel1{
background-color: #999394;
color: rgb(255, 255, 255);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff7e00;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.imgs{
  width: 50%; 
  height:10%; 
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
  margin-bottom: 5%;
}

@media(min-width:700px){
  .bttn{
    width: 50%;
  }
 }
 @media(max-width:700px){
  .bttn{
    width: 90%;
  }
 }

 @media(max-width:700px){
  .imgs{
    width: 100%;
  }
 }
 @media(max-width:700px){
 .inps{
   width: 50%;
 }
}


.inps{
    width: 50%;
  }

  .spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top:50%;
    left:50%;
    position: absolute;
  }
  @keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }