
<!---navbar-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img id="img-brnd" src="assets/images/navlogo1.png" alt="brand-logo"></a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#nabarResponsive"><span class="navbar-toggler-icon">

    </span>
  </button>
<div class="navbar-collspse" collapse col-sm-3 col-md-3 navbar-left>
  <form class="navbar-form" role="search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search" name="search">
      <div  class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
  </form>
</div>

  <div class="collapse navbar-collapse"  id="navbar-Responsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/rprofile">VIGNESH</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rhme">HOME</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/req-split">REQUESTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SETTINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dnr-rcr">NOTIFICATIONS</a>
        <li class="nav-item">
          <a class="nav-link" href="/login">LOGOUT</a>
        </li>

    </ul>
  </div>
  </div>
</nav>

