@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height:100%;
  width: 100%;
  font-family: 'poppins',sans-serif;
  color: #222;
}
#img-brnd{
height: 3rem;
}
.navbar{
padding:.8rem;
}
.navbar-nav li{
  padding-right: 1.4rem;

}
.nav-link {
font-size: 1.1em !important;
}



/*---Media Queries --*/
@media (max-width: 992px) {

    }
  @media (max-width: 768px) {


  }
  @media (max-width: 576px) {


  }
  /*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
