@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


.sty1{
    background-color: #ff7e00;
    opacity: 0.9;
}
.sty2{
    background-color: #ffbc00;
    opacity: 0.9;
}
.sty3{
    background-color: #ffffff;
}
body {
    background-image: linear-gradient(to right,#ffbc00,#ff7e00);;
   height: 100%;
   padding-bottom: 20%;
   padding-top: 7%;
   }

   .fon1{
    font-family: 'Jost', sans-serif;
    font-weight: 50;
    color: #ffffff;
   }
   .fon2{
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}
.fon3{font-family: 'Jost', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    color: #ffffff;
}
/* @media only screen and (max-width: 900px) {
    .show {
        display: none;
    }
}

@media only screen and (max-width: 901px) {
    .show1 {
        display: none;
    }
}
 */

 .tfont{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px ;

  }

  .tfont1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px ;
  }


  .logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px ;
    color: black;
  }
  .logo1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px ;
   color: black;
  }




  .vertical {
    border-left: 6px solid #ffbd33;
    height: 100px;
    position:absolute;
    left: 50%;
  }

  .cont2{
    font-family: 'Jost', sans-serif;
    font-size: 20px ;
    margin-top: 5%;
    font-weight: lighter;
  }
  .cont3{
      background-color: #ffffff;
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;

  }

  .progress-bar{
    width: 25%; 
    background-color: #ffbc00;
  }
  .btn{
    width: 100%;
     border-radius: 0%; 
     background-color: #ffbc00; 
     border: none;
  }
  .row{
    font-family: 'Jost', sans-serif;
  }
