

  <app-header>
  </app-header>



  <!---image slider-->
  <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to='0' class="active"></li>
      <li data-target="#slides" data-slide-to='1'></li>
      <li data-target="#slides" data-slide-to='2'></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slider/bg1.jpg">
        <div class="carousel-caption">
          <h1 class="display-2">Donate</h1>
          <h3>Provide to the needy students in India</h3>
          <button type="button" class="btn btn-outline-light btn-lg" onclick="window.location.href = '/login';">Start Donating</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider/bg2.jpg">
        <div class="carousel-caption">
          <h1 class="display-2">Request</h1>
          <h3>Ask for help</h3>
          <button type="button" class="btn btn-outline-light btn-lg">Start Requesting</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider/bg3.jpg">
      </div>
    </div>
  </div>

  <!---jumtron info-->
<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">We aim on connecting the needy students with
        the people willing to provide for India's future generation</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="/dnr-rcr"><button type="button" class="btn btn-outline-secondary btn-lg">Get Started</button></a>
    </div>
  </div>
</div>
<!---WELCOME SECTION-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">We are here to help</h1>
      <hr>
      <div class="col-12">
        <p class="lead">Welcome to Back To School a project devoloped to help the
          students in India who are not financialy stable to afford school stationaries and books.
          We help in connecting the Donors who are willing to donate items to the needy schools who
          request for them
        </p>
      </div>
    </div>
  </div>
</div>
<!---two column section donate recieve-->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6">
      <h3>Donate</h3>
      <p>Provide items to schools and students</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Request</h3>
      <p>Request items for needy students</p>
    </div>
  </div>
  <hr class="my-4">
</div>
<hr class="my-4">
<!---fixed bg-->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
    </div>
  </div>
</figure>
<!---social extensions-->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram"  aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<!---footer-->
<footer>
  <div class="containner-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <a class="navbar-brand" href="#"><img id="img-brnd" src="assets/images/navlogo.png" alt="brand-logo"></a>

        <hr class="light">
        <p>0417-4155-4122</p>
        <p>email@backtochool.com</p>
        <p>Hq Location</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <p>Locations</p>
        <hr class="light">
        <p>Trivandrum</p>
        <p>Banglore</p>
        <p>Mumbai</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <p>help-line-no</p>
        <hr class="light">
        <p>11101-1111-1111</p>
        <p>2222-22222-2222</p>
        <p>3333-3333-3333</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; backtoschool.com</h5>
      </div>
    </div>
  </div>
</footer>

