@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
#sub{
  font-family: 'Roboto', sans-serif;
}
#place{
  font-family: 'Open Sans Condensed', sans-serif;
}
#main1{
  font-family: 'Lato', sans-serif;
}
body{
  perspective:800px;
  height: 100vh;
  margin:0;
  overflow: hidden;
  font-family:  'Lato', sans-serif;
  background: linear-gradient(to right,#ffbc00, #ff7e00);; /* Old browsers */
  background: -moz-linear-gradient(-45deg, to right#ffbc00, #ff7e00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%#ffbc00 ), color-stop(100%, #022f3b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,to right,#ffbc00, #ff7e00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  to right#ffbc00, #ff7e00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, to right,#ffbc00, #ff7e00 100%); /* IE10+ */
  background: linear-gradient(135deg, to right#ffbc00, #ff7e00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.contact-form{
  background: rgb(59, 59, 59);
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;

}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3,h1{
  margin-bottom: 8%;
  margin-top: -10%;
  padding-bottom: 1rem;
  text-align: center;
  color: #ffbc00;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #ffbc00;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #ffbc00;
  border: none;
  cursor: pointer;
}
