<app-rnav></app-rnav>
<body>
<div class="container contact-form">
  <div class="contact-image">
      <img src="assets/images/bts_yellow.png" alt="BTS LOGO"/>
  </div>
  <form method="post">
    <h1 id="main1">We are listening</h1>
      <h3 id="sub">Drop Us a Message</h3>
     <div class="row" id="sub">
          <div class="col-md-6">
              <div class="form-group">
                  <input id="place" type="text" name="txtName" class="form-control " style="border-radius: 1%;" placeholder="Your Name *" value="" />
              </div>
              <div class="form-group">
                  <input id="place" type="text" name="txtEmail" class="form-control " style="border-radius: 1%" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                  <input id="place" type="text" name="txtPhone" class="form-control " style="border-radius: 1%"  placeholder="Your Phone Number *" value="" />
              </div>
              <div class="form-group">
                  <input id="place" type="submit" name="btnSubmit" class="btn btnContact" style="border-radius: 0%;" value="Send Message" />
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <textarea id="place" name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px; border-radius: 1%"></textarea>
              </div>
          </div>
      </div>
  </form>
</div>
</body>
