@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height:100%;
  width: 100%;
  font-family: 'poppins',sans-serif;
  color: #222;
}
#img-brnd{
height: 3rem;
}
.navbar{
padding:.8rem;
}
.navbar-nav li{
  padding-right: 1.4rem;

}
.nav-link {
font-size: 1.1em !important;
}

#in{
  color: #ffbd33;
}

/*---Media Queries --*/
@media (max-width: 992px) {

    }
  @media (max-width: 768px) {


  }
  @media (max-width: 576px) {


  }
  /*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}


.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top:50%;
  left:50%;
  position: absolute;
}
@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}