<app-header></app-header>
<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4">Welcome Back!</h3>
                          <p class="text-muted mb-4">Log-in to continue BTS user</p>
                          <form>
                              <div class="form-group mb-3">
                                  <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                              </div>
                              <div class="custom-control custom-checkbox mb-3" >
                                  <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                  <label for="customCheck1" class="custom-control-label">Remember password</label>
                              </div>
                              <button onclick="window.location.href = '/rhme'" id="btn" type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                              <div class="text-center d-flex justify-content-between mt-4" ><p>Forgot password
                                <a class="font-italic text-muted" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                                <u>re-set</u></a></p></div>
                          </form>
                      </div>
                  </div>
              </div><!-- End -->

          </div>
      </div><!-- End -->





      <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php" method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="assets/images/img_avatar2.png" alt="Avatar" class="avatar">
          </div>

          <div class="container">

            <input class="form-control" type="text" placeholder="User Name" required>




            <input class="form-control" type="text" placeholder="Email" required>



            <button type="submit" class="btn btn-primary">Reset Password</button>
            <button type="submit" class="btn btn-primary">Cancel</button>

          </div>

          <div class="container" style="background-color:#f1f1f1">

          </div>
        </form>
      </div>

      <script>




      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      </script>

