<app-header>
</app-header>

<div id="grad">
  <h1 align="center"  class="hh ff hide">WELCOME, RECEIVER LET'S GET TO KNOW YOU.</h1>

<div class="container pad float">
   <div class="panel ">

      <div class="panel-body"  >

          <img src="/assets/images/img_avatar3.png" alt="BTS logo" style="display: block; margin-right: auto; margin-left: auto; height: 500px;" class="img-fluid img-thumbnail imgg">

          <div class="row my_row "style="display: block; margin-right: auto; margin-left: auto;" >
          <div class="col-xs-12 col-xl-12 col-lg-12">
            <form>

                <div class="row">
                  <div class="col-xs-12 col-lg-12">
                <label for="email" class="font">Email address</label>
                <input type="email" id="email" class="form-control" placeholder="Email address">
              </div>
          </div>
               <div class="row">
              <div class="col-xs-12 col-lg-12">
                    <label for="mobno" class="font" >Mobile Number</label>
                    <input type="number" id="mobno" class="form-control" placeholder="Mobile Number">
                  </div>
              </div>
              <div class="form-row">
                <div class="col">

                      <label for="name" class="font">First Name</label>
                      <input type="text"  class="form-control"  placeholder="First Name">

                </div>

                    <div class="col">
                          <label for="name" class="font">Last Name</label>
                          <input type="text" id="name" class="form-control " placeholder="Last Name">
                        </div>
                    </div>
              <div class="row">
                  <div class="col-xs-12 col-lg-12">
                        <label for="psw" class="font" >Password</label>
                        <input type="password" id="psw" class="form-control" placeholder="Password">

                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-lg-12">
                            <label for="psw"class="font">Confirm Password</label>
                            <input type="password" id="psw" class="form-control" placeholder="Confirm Password">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-lg-12">
                                <label for="psw"class="font">Syllabus</label>
                                <input type="text" id="psw" class="form-control" placeholder="Enter syllabus">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12 col-lg-12">
                                    <label for="psw"class="font">Institution Name</label>
                                    <input type="text" id="psw" class="form-control" placeholder="Enter Institution Name">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12 col-lg-12">
                                        <label for="psw"class="font">Institution phone No.</label>
                                        <input type="number" id="psw" class="form-control" placeholder="Enter Institution phone no.">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-12">
                                            <label for="psw"class="font">Institution Mail id</label>
                                            <input type="text" id="psw" class="form-control" placeholder="Enter Institution Mail Id">
                                          </div>
                                      </div>



                              <div class="row">
                                  <div class="col-xs-12 col-lg-12">

                                    <label for="addr" class="font">Institution address</label>
                                    <textarea type="text" id="addr" class="form-control"placeholder="Enter institution address"></textarea>
                                  </div>
                              </div>




                                    <div class="padd">
                                    <input type="checkbox" id="accept" class="form-check-input " style="margin-right: 30px; ">

                                    <span for="accept" class="align-text-baseline" class="font1 font" >I am willing to share my transaction information on the website.</span>
                                  </div>

                                    <div class="row justify-content-center">
                                        <div class="col-xs-6 col-md-4">
                                           <button class="btn  btn-block" type="submit" style=" margin-right: 2px; margin-top: 2px; " id="sub" style="background-color:#ff7e00; color: #ffffff;">Submit</button>
                                          </div>
                                           <div class=" col-xs-6 col-md-4">
                                           <button class="btn btn-secondary btn-block" type="submit" style="margin-top: 2px; background-color: #ffffff; color: #000;" >Cancel</button>
                                           </div>
                                       </div>

             </form>
          </div>
        </div></div>
     </div>


</div>
</div>

