<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v3.8.6">
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

<app-dnav></app-dnav>



<div class="container-fluid" >
  <div class="row" >
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" >
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Donors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Requesters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customer Care
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>

        </ul>
      </div>
    </nav>





    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>

        <div class="btn-toolbar mb-2 mb-md-0">

          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>





      <div class="container-fluid">

        <div class="row">


          <div class="col-md-8" id="mid">
            <div class="well">
            <img id="im" src="assets/images/donor.png">bts <a href="#">username</a>
            </div>
            <div class="well">
              <strong><h5>B2S family</h5></strong>
              <img src="assets/images/congo.jpeg" alt="user">
            </div>






            <div class="well">
                <!---image slider-->
        <div id="slides" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to='0' class="active"></li>
            <li data-target="#slides" data-slide-to='1'></li>
            <li data-target="#slides" data-slide-to='2'></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/slider/bg3.jpg">
              <div class="carousel-caption">
                <h1 class="display-2">Donate</h1>
                <h3>Provide to the needy students in India</h3>
                <button type="button" class="btn btn-outline-light btn-lg" onclick="window.location.href = '/frgpass';">First donation</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/slider/bg2.jpg">
              <div class="carousel-caption">
                <h1 class="display-2">Request</h1>
                <h3>Ask for help</h3>
                <button type="button" class="btn btn-outline-light btn-lg">Start Requesting</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/slider/bg3.jpg">
            </div>
          </div>
        </div>
            </div>



            <div class="well">
               <!---jumtron info-->
      <div class="container-fluid">
        <div class="row jumbotron">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">We aim on connecting the needy students with
              the people willing to provide for India's future generation</p>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="/dnr-rcr"><button type="button" class="btn btn-outline-secondary btn-lg">Get Connected</button></a>
          </div>
        </div>
      </div>
            </div>





          </div>
          <div class="col-md-4" id="right">
            <div class="well">
              <h2>Emergency Requests</h2>
            </div>


             <div class="well">
               <!---WELCOME SECTION-->
      <div class="container-fluid padding">
        <div class="row welcome text-center">
          <div class="col-12">
            <h5 class="display-4">We need help</h5>
            <hr>
            <div class="col-12">
              <p class="lead">Our school located in the area hit by floods have faced losses and are in need of resources to be able to fuction normally.
              </p>
              <a href="#" class="btn btn-xs btn-danger">Help Us</a>
            </div>
          </div>
        </div>
      </div>
             </div>






          </div>
          </div>
          </div>
