<app-dnav>
</app-dnav>
    <div class="split left">

      <a href="/dntlive">
          <input type="image" src="assets/images/help.png"  class= "button" alt="donor" width="48" height="48">
      </a>
      <h1>Live Requests</h1>

    </div>
    <div class="split right">
      <h1>In Hand</h1>
      <a href="/nw-rcr">
      <input type="image" src="assets/images/heart.png" class= "button" alt="receiver" width="48" height="48">
      </a>
    </div>








