div.calendar
{
  color: #000;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5);

}

div.calendar.popup
{
  margin-left: -40px;
  margin-top: -100px;
  z-index:100000;
}
div.calendar td.weekend{
    background:#b5cfe9;
}
div.calendar .today{
    background: #D9360D !important;
}
div.calendar .title, div.calendar .button{
    color:#f9621a;
}
div.calendar table
{
  background-color: #eee;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

div.calendar thead {
  background-color: white;
}

div.calendar td,
div.calendar th
{
  font-size: 11px;
  padding: 3px;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
}

div.calendar th
{
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}

div.calendar tr.days td {
  width: 2em;
  color: #555;
  text-align: center;
  cursor: pointer;
}

div.calendar tr.days td:hover:not(.unselectable),
div.calendar td.button:hover:not(.unselectable)
{
  background-color: #0178b8;
  color: #fff;
  cursor: pointer;
}

.unselectable {
  cursor: default !important;
}

div.calendar tr.days td:active
div.calendar td.button:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

div.calendar tr.days td.today
{
  font-weight: bold;
  color: #fff;
}

div.calendar tr.days td.otherDay
{
  color: #95959A;
}

.form-submit-button-steel{

  cursor: pointer;

  -moz-border-radius:.5em;
  -webkit-border-radius:.5em;
  border-radius:.5em;

  padding:6px 18px;

  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  text-shadow:0px 1px 0px #ffffff;

  border:1px solid #999999 !important;

  -moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.70), 0 2px 4px 0 rgba(0, 0, 0, 0.40);
  -webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.70), 0 2px 4px 0 rgba(0, 0, 0, 0.40);
  box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.70), 0 2px 4px 0 rgba(0, 0, 0, 0.40);

  background: #d4d4d4;
  background-position: 50% 50%;
  background-image: url('/images/steel.png');
}

.form-submit-button-steel:hover{

  color: #555555 !important;
  border:1px solid #999999 !important;
  background: #d4d4d4;
  background-position: 50% 50%;
  background-image: url('/images/steel.png');
}

.form-submit-button-steel:active{

color: #555555 !important;
border:1px solid #999999 !important;
  position: relative;
  top: 1px;

  -moz-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
  -webkit-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
  box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
}
