
<!---navbar-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img id="img-brnd" src="assets/images/navlogo1.png" alt="brand-logo"></a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#nabarResponsive"><span class="navbar-toggler-icon">

    </span>
  </button>
<div class="navbar-collspse" collapse col-sm-3 col-md-3 navbar-left>
</div>

  <div class="collapse navbar-collapse"  id="navbar-Responsive">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search" name="search" style="border-radius: 0%;">
            <div  class="input-group-btn">
              <button id="search" class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </li>

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/rhme">DASHBOARD</a>
      </li>

      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="/strd">REQUESTS</a>
      </li>

      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="/dnr-rcr">NOTIFICATIONS</a>

<!-- new -->
<li ngbDropdown class="nav-item dropdown ">
  <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{name}} <i id="search" class="fa fa-user" aria-hidden="true"></i>
  </a>
  <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" routerLink="/rprofile">View profile </a>
    <a class="dropdown-item" routerLink="">Settings</a>
    <hr>
    <a class="dropdown-item" (click)="Logout()" routerLink="/login">Logout <i id="search" class="fa fa-sign-out" aria-hidden="true"></i> </a>
  </div>
</li>
<!-- end -->


    </ul>
  </div>
  </div>
</nav>

