@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');
body{
  perspective:800px;
  height: 100vh;
  margin:0;
  padding-top: 70px;
  overflow: hidden;

font-family: 'poppins',sans-serif;
  background: #ffffff; /* Old browsers */
  background:  #ffffff; /* FF3.6+ */
  background:  #ffffff; /* Chrome,Safari4+ */
  background:  #ffffff;  /* Chrome10+,Safari5.1+ */
  background:  #ffffff;  /* Opera 11.10+ */
  background:  #ffffff; /* IE10+ */
  background:  #ffffff;  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

img{
  max-width: 100%;

  display: block; /* remove extra space below image */
}
#left{
 background-color:  #f3ac29;

 padding: 1rem;
}
#lf{
  background-color:  #f3ac29;
}
#right{
  background-color:  rgb(233, 233, 233);
  padding: 1rem;
}
#mid{
  background-color: #ffffff;
  padding: 1rem;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}




.post00{
  top:70px;
  left:240px;
  position:absolute;
  width:1200px;
  height:210px;

  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  }
  .post10{top:290px;
    left:240px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    position:absolute;
    background:white;
    width:1200px;
    height:600px;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    }
    #im{
      height:3rem;
    }
    .post20{top:910px;
      left:240px;
      background:white;
      position:absolute;
      width:1200px;
      height:600px;
      padding-left:10px;
      padding-right:10px;
      padding-top:10px;
      border-radius:3px/3px;
      -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
      }

      .post30{top:1510px;
        left:240px;
        background:white;
        position:absolute;
        width:1200px;
        height:600px;
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
        border-radius:3px/3px;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        }

        .post40{top:910px;
          left:240px;
          background:white;
          position:absolute;
          width:1200px;
          height:600px;
          padding-left:10px;
          padding-right:10px;
          padding-top:10px;
          border-radius:3px/3px;
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
          }

          .post50{top:910px;
            left:240px;
            background:white;
            position:absolute;
            width:1200px;
            height:600px;
            padding-left:10px;
            padding-right:10px;
            padding-top:10px;
            border-radius:3px/3px;
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            }










.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

button{
  border-radius: 0%;
}

.dash{
  color: #ffffff;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Poppins', sans-serif;
}
.dash:hover{
 background-color:#838383;
}
h2{
  font-family:'Roboto', sans-serif;
}
h5{
  font-family: 'Lato', sans-serif;
}
p{
font-family: 'Jost', sans-serif;
}
.act{
  background-color: #838383 ;
  
}