<app-rnav></app-rnav>

<div class="bg1">
  <div class="container cont " style="padding-top: 3%; padding-bottom: 3%; padding-left: 3%; padding-right: 3%;">
  <div class="container border border-warning " style="background: rgba(0, 0, 0, 0);" >
    <div class="row " style="margin-right: auto; margin-left: auto;">
      <div class="col-sm-6 logo fonts" align="right">
        BACK TO SCHOOL   |
      </div>

      <div class="col-sm-6 logo1 fonts"  style="margin-top: 1%">
        Emergency Request!
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 30px;">

    <div class="row justify-content-end"  >
      <div class="col-sm-4 ">
        <button class="btn btn-primary"  type="submit"  (click)="openModal(template)" style=" background-color: #ffbd33; border: 0px; margin: 1%;" >Add new item</button>
     
        <button class="btn btn-primary" type="submit" style=" background-color:  #99a3a4; border: 0px; margin: 1%;">Save</button>
      </div>
    </div>
        <div class="container">
          <div class="row">
            
            <div class="col-sm-6 ">
              
              <table mdbTable bordered="true" align="center">
                <thead>
                  <tr class="tfont1 fonts3" >
                    <th *ngFor="let head of headElements" scope="col" style="padding-left:2%;">{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of elements" class="tfont fonts2">
                    <th scope="row" style="margin-left: 2%;" >{{el.id}}</th>
                    <td  >{{el.first}}</td>
                    <td style="padding: 2%;"><select></select></td>
    
                  </tr>
                </tbody>
              </table>
        </div>
          <div class="col-sm-6 fonth1 fonts4" align="center" style="font-weight: 500;  color: rgba(255,255,255,1); ">
           
            <textarea class="form-control " rows="8" id="comment" style=" background: rgba(0, 0, 0, 0.1); color: rgba(0,0,0,0.9); margin-top:2% ;" placeholder="Enter Reason of Emergency"></textarea>
          </div>

          
          

        </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-sm-4" style="padding-top: 1%;">
            <button class="btn btn-primary " type="submit" style=" background-color:#ff7e00; border: 0px;  margin: 1%;">Submit</button>
            
            <button class="btn btn-secondary " type="submit" style="background-color: #ffffff; color: #000000;  margin: 1%;">Cancel</button>
           </div>
          </div>



 </div>
</div>
</div>




  <ng-template #template>
      <div style="background-color:#ffbd33;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title fonttext">
                      Add New Item To List
                  </h5>
                  <button class="close" (click)="modalRef.hide()">&times;</button>
              </div>
              <div class="modal-body">
                <form class="form">
                  <div class="row">
                      <div class="col-sm-12">
                  <label>Enter name of the item </label>
                  <input class="form-control" type="text" placeholder="Enter name of the item" #itemname>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12">
           <label>Category of the item </label>
           <input class="form-control" type="text" placeholder="Category of the item"  #categoryi>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
   <label>Quantity required</label>
   <input class="form-control" type="number" placeholder="Quantity required"  #quantityreq>

   <table mdbTable bordered="true" align="center" class="pad">
     <thead>
       <tr class="tfont1 fonts3" >
         <th *ngFor="let head of headElements2" scope="col">{{head}}</th>
       </tr>
       </thead>
       
     <tbody>
       
       <tr mdbTableCol *ngFor="let el of elements2"   class="tfont fonts2">
         
         <th scope="row">{{el.id}}</th>
         <td>{{el.first}}</td>
         <td><select></select></td>

       </tr>
       
     </tbody>
   </table>
<p align="center"> No contents to show</p>

</div>
</div>
              </form>



              </div>
              <div class="modal-footer">
                  <button class="btn fonttext" (click)="onAdd()" style="background-color: #ff7e00; color: #ffffff;">Add</button>
                  <button class="btn btn-secondary fonttext" (click)="modalRef.hide()"  style="color: #000000; background-color: #ffffff;">Cancel</button>
              </div>

          </div>
      </div>
  </div>
  </ng-template>

