
<!---navbar-->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img id="img-brnd" src="assets/images/navlogo.png" alt="brand-logo"></a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#nabarResponsive"><span class="navbar-toggler-icon">

    </span>
  </button>
  <div class="collapse navbar-collapse"  id="navbar-Responsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dnr-rcr">NEW USER</a>
        <li class="nav-item">
          <a class="nav-link" href="/login">LOGIN</a>
        </li>

    </ul>
  </div>
  </div>
</nav>
